<div id="page-content">
  <div id="page-title"><h1 class="page-header text-overflow text-4x text-dark">Teams</h1></div>

  <div class="row">
    <div class="panel">


      <div class="panel-body">
        <div class="pad-btm form-inline">
          <div class="row">

            <div class="col-sm-6 table-toolbar-left">
              <%= link_to "Add", new_team_path, class: "btn btn-purple btn-labeled fa fa-plus" %>

            </div>

            <div class="col-sm-6 table-toolbar-right">
              <div class="form-group">
                <input id="demo-input-search2" type="text" placeholder="Search" class="form-control" autocomplete="off">
              </div>
            </div>
          </div>
        </div>

        <!-- Table below-->
      </div>

    </div>
  </div>


  <div class="row">
    <% @teams.each do |team| %>
        <div class="col-sm-4 eq-box-sm">
          <div class="panel">
            <div class="panel-heading">
              <div class="panel-title"><%= team.name %></div>
            </div>
            <div class="panel-body">
              <h4 style="margin: 0px;padding: 0px">
                <small> Team Lead : <%= team.user ? team.user.first_name : '' %> </small>
              </h4>

              <div class="mydiv">

                <ul class="list-unstyled">
                  <% team.users.with_role(:runner).limit(4).each do |team_runner| %>

                          <li>
                            <span class="icon-wrap icon-wrap-sm icon-circle bg-mint"><i class="fa fa-user #{$fa-css-prefix}-2x"></i></span>

                            <h3>
                              <small><%= "#{team_runner.first_name} #{team_runner.last_name}" %></small>
                            </h3>

                          </li>

                  <% end %>

                </ul>


              </div>
            </div>

            <div class="panel-footer clearfix">
              <div class="btn btn-default pull-left">
                <%= link_to team_path(team), :method => :delete, :data => {confirm: 'Are You sure you want to delete this team ?'} do %>
                    <i class="fa fa-trash"></i>
                <% end %>
              </div>


              <div class="text-right">
                <div class=" col4">
                  <%= link_to "View Team", team_path(team), class: "btn btn-purple" %>
                  <%= link_to "Edit", edit_team_path(team), class: "btn btn-mint" %>

                </div>

              </div>


            </div>

          </div>
        </div>
    <% end %>

  </div>


</div>