<div id="page-title"><h1 class="page-header text-overflow text-4x text-dark">Coordinators</h1></div>
<div class="page-content">
  <div class="panel">

    <div class="panel-body">
      <div class="pad-btm form-inline">
        <div class="row">

          <div class="col-sm-6 table-toolbar-left">
            <%= link_to "Add",new_coordinator_path,class:"btn btn-purple btn-labeled fa fa-plus" %>
            <!--<button id="add_runner" class="btn btn-purple btn-labeled fa fa-plus" data-toggle="modal" data-target="#myModal">Add</button>-->
            <button class="btn btn-default"><i class="fa fa-print"></i></button>
            <div class="btn-group">
              <button class="btn btn-default"><i class="fa fa-exclamation-circle"></i></button>
              <button class="btn btn-default"><i class="fa fa-trash"></i></button>
            </div>
          </div>

          <div class="col-sm-6 table-toolbar-right">
            <div class="form-group">
              <input id="demo-input-search2" type="text" placeholder="Search" class="form-control" autocomplete="off">
            </div>
            <div class="btn-group">
              <button class="btn btn-default"><i class="fa fa fa-cloud-download"></i></button>
              <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                  <i class="fa fa-cog"></i>
                  <span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                  <li><a href="tables-static.html#">Action</a></li>
                  <li><a href="tables-static.html#">Another action</a></li>
                  <li><a href="tables-static.html#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="tables-static.html#">Separated link</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Table below-->
      <table class="table table-stripped">
        <thead>
        <tr>
          <th>Id</th>
          <th>Image</th>
          <th>Coordinator Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Team</th>
        </tr>
        </thead>
        <tbody>
        <% @coordinators.each do |coordinator| %>
            <tr>
              <td><a class="btn-link" href="tables-static.html#"> <%= coordinator.id %></a></td>
              <td><%= coordinator.avatar %></td>
              <td><span class="text-muted"><%= "#{coordinator.first_name} #{coordinator.last_name}" %></span></td>
              <td><%= coordinator.email %></td>
              <td><%= coordinator.phone_no %></td>
              <td><%= coordinator.team_id.nil? ? "" : coordinator.team.name %></td>

              <td>
                <div class="btn-group">
                  <%= link_to edit_coordinator_path(coordinator), class: 'btn btn-default' do %>
                      <i class="fa fa-edit"></i>
                  <% end %>
                  <%= link_to coordinator_path(coordinator), :method => :delete, class: 'btn btn-default', :data => {confirm: 'Are You sure you want to delete this runner '} do %>
                      <i class="fa fa-trash"></i>
                  <% end %>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>

