<%= simple_form_for @runner, url: (@runner.new_record? ? '' : runner_path(@runner)), remote:true  do |f| %>



    <div class="form-inputs">
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="panel-body">
            <%= f.input :email, required: true, autofocus: true, class: 'form-group' %>
            <%= f.input :password, required: true, class: 'form-group' %>
            <%= f.input :first_name, label: 'First Name', required: true, class: 'form-group' %>
            <%= f.input :last_name, label: 'Last Name', required: true, class: 'form-group' %>
            <%= f.input :phone_no, label: 'Phone Number', required: true, class: 'form-group' %>
            <%= f.input :status, label: 'Status', required: true, class: 'form-group' %>

          </div>
        </form>
      </div>
      <div class="panel-footer">


        <div class="text-right col4">
          <%= f.button :submit, (@runner.new_record? ? "Add This Runner":"Update"), class: "btn btn-mint" %>
        </div>

      </div>
    </div>

<% end %>
