<!DOCTYPE html>
<html>
<head>
  <title>Bhaag Dod</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvSUPiUzR5bHvcbbe-L2cb6Wft3KnKuNE">
  </script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="nifty-ready pace-done">
<div id="container" class="effect mainnav-out navbar-fixed ">

  <!--NAVBAR-->
  <!--===================================================-->
  <% if user_signed_in? %>
      <header id="navbar">
        <div id="navbar-container" class="boxed">

          <!--Brand logo & name-->
          <!--================================-->
          <div class="navbar-header">
            <div class="navbar-brand">
              <%= link_to root_path do %>
                  <span class="brand-text brand-title">Bhaag Dod</span>
              <% end %>

            </div>
          </div>

          <!--================================-->
          <!--End brand logo & name-->


          <!--Navbar Dropdown-->
          <!--================================-->
          <div class="navbar-content clearfix">
            <ul class="nav navbar-top-links pull-left">
              <li class="tgl-menu-btn">
                <a class="mainnav-toggle" href="">
                  <i class="fa fa-navicon fa-lg"></i>
                </a>

              </li>

            </ul>
            <ul class="nav navbar-top-links pull-right">
              <!--Navigation menu-->
              <li style="margin: 10px;" class="">
                <button class="btn btn-success" data-target="#add_new_task_modal" data-toggle="modal" id="add_task_button">Add
                  Task
                </button>
              </li>
              <li class="dropdown">

                <%= link_to tracker_index_path, class: "dropdown-toggle text-right" do %>
                  <span class="pull-right">
									<i class="fa fa-th fa-2x"></i>
                  </span>
                <% end %>

              </li>

              <!-- User drop down menu-->
              <li id="dropdown-user" class="dropdown">
                <a href="" data-toggle="dropdown" class="dropdown-toggle text-right" aria-expanded="false">
								<span class="pull-right">
									<img class="img-circle img-user media-object" src="assets/login.jpg" alt="Profile Picture">
								</span>

                  <div class="username hidden-xs"><%= "#{current_user.first_name} #{current_user.last_name}" %></div>
                </a>


                <div class="dropdown-menu dropdown-menu-md dropdown-menu-right with-arrow panel-default">


                  <!-- User dropdown menu -->
                  <ul class="head-list">
                    <li>
                      <a href="">
                        <i class="fa fa-user fa-fw fa-lg"></i> Profile
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <span class="badge badge-danger pull-right">9</span>
                        <i class="fa fa-envelope fa-fw fa-lg"></i> Messages
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <span class="label label-success pull-right">New</span>
                        <i class="fa fa-gear fa-fw fa-lg"></i> Settings
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <i class="fa fa-question-circle fa-fw fa-lg"></i> Help
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <i class="fa fa-lock fa-fw fa-lg"></i> Lock screen
                      </a>
                    </li>
                  </ul>

                  <!-- Dropdown footer -->
                  <div class="pad-all text-right">
                    <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-primary" do %>

                        <i class="fa fa-sign-out fa-fw"></i> Sign Out
                    <% end %>
                  </div>
                </div>
              </li>

              <% if user_signed_in? %>

              <% else %>
                  <li>
                    <%= link_to new_user_session_path do %>
                        <button class="btn btn-mint">Sign in</button>
                    <% end %>
                    <li>
                    <li>
                      <%= link_to new_user_registration_path do %>
                          <button class="btn btn-success">Register</button>
                      <% end %>
                    </li>
              <% end %>

            </ul>
          </div>
          <!--================================-->
          <!--End Navbar Dropdown-->

        </div>
      </header>
      <!--===================================================-->
      <!--END NAVBAR-->

      <div class="boxed">
        <div id="">


          <%= yield %>

        </div>

        <div id="floating-top-right" class="floating-container">
          <div class="alert-wrap in animated jellyIn">
            <% flash.each do |name, msg| %>
                <div class="alert alert-success" role="alert">
                  <button class="close" type="button"><i class="fa fa-times-circle"></i></button>
                  <div class="media"><strong><%= content_tag :div, msg %></strong></div>
                </div>

            <% end %>
          </div>
        </div>

      </div>


      <!-- FOOTER -->
      <!--===================================================-->
      <footer id="footer">


        <!-- Visible when footer positions are static -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="hide-fixed pull-right pad-rgt">Currently v2.2</div>


        <p class="pad-lft">&#0169; 2015 Phantasmist ©</p>


      </footer>
      <!--===================================================-->
      <!-- END FOOTER -->


  <% end %>



  <!--===================================================-->
  <!--END CONTENT CONTAINER-->


  <!-- SCROLL TOP BUTTON -->
  <!--===================================================-->
  <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
  <!--===================================================-->


</div>
<!--===================================================-->
<!-- END OF CONTAINER -->

<!-- Add New Task Modal-->
<div id="add_new_task_modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title" id="myLargeModalLabel">Add New Task</h4>
        <hr/>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- FORM DIV-->

          <div class="col-lg-6 bord-rgt">
            <div class="panel">
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-3 text-bold mar-lft pull-left">
                    Pick a task
                  </div>
                  <div class="col-lg-6 pull-right">
                    <label class="radio-inline form-radio form-icon form-pink form-text">
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Pickup
                    </label>


                    <label class="radio-inline form-radio form-icon form-purple form-text">
                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Delivery
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <div class="form-group mar-top form-inline">
                    <div class="row">
                      <div class="input-group">
                        <span class="input-group-addon ">
                          <i class="fa fa-phone"></i>
                        </span>
                        <%= text_field_tag :search, params[:search], data: {autocomplete: autocomplete_customer_phone_tracker_index_path},:id=>'phoneSearch',:update_elements => {:email => '#email_field'} %>
                        <!--<input type="text" class="form-control" placeholder="Phone Number"/>-->
                        <script type="text/javascript" charset="utf-8">
                            $('#phoneSearch').bind('railsAutocomplete.select', function(event, data){
                                //$('#search-form').submit()
                                console.log("DATA"+data.item);
                                $('#email_field').val(data.item.email);
                                $('#name_field').val(data.item.name);

                            });
                        </script>
                      </div>

                      <div class="input-group">
                        <span class="input-group-addon ">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <input type="text" id="email_field" class="form-control" placeholder="Email"/>
                      </div>
                    </div>
                  </div>

                  <div class="form-group mar-top">
                    <div class="row">
                      <div class="input-group">
                    <span class="input-group-addon ">
                        <i class="fa fa-user"></i>
                    </span>
                        <input type="text" id="name_field" class="form-control" placeholder="Customer Name"/>
                      </div>
                    </div>
                  </div>

                  <div class="form-group mar-top">
                    <div class="row">
                      <div class="input-group">
                    <span class="input-group-addon ">
                        <i class="fa fa-home fa-2x"></i>
                    </span>
                        <textarea rows="2" id="address_input" class="form-control" placeholder="Customer Address"></textarea>
                      <span class="input-group-btn">
                        <button class="btn btn-danger btn-lg btn-labeled fa fa-location-arrow" id="locate_button">Locate</button>
                      </span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group mar-top">

                    <div class="row">
                      <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-users"></i>
                      </span>
                        <select data-placeholder="Choose a Team" id="team_chooser" tabindex="2" class="form-control">
                          <option value="United States">United States</option>
                          <option value="United Kingdom">United Kingdom</option>
                          <option value="Afghanistan">Afghanistan</option>
                          <option value="Aland Islands">Aland Islands</option>
                          <option value="Albania">Albania</option>
                          <option value="Algeria">Algeria</option>
                          <option value="American Samoa">American Samoa</option>
                          <option value="Andorra">Andorra</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6 text-bold mar-lft pull-left">
                      Assign Runner
                    </div>
                    <div class="col-lg-4 pull-right">
                      <label class="form-checkbox form-icon form-pink form-text">
                        <input type="checkbox" id="assign_agents_checkbox" checked>Auto Assign
                      </label>
                    </div>
                  </div>

                  <div class="form-group mar-top">
                    <div class="row">
                      <div class="input-group ">
                      <span class="input-group-addon">
                        <i class="fa fa-users"></i>
                      </span>
                        <select data-placeholder="Choose a Team" id="runner_chooser" tabindex="2" class="form-control">
                          <option value="United States">United States</option>
                          <option value="United Kingdom">United Kingdom</option>
                          <option value="Afghanistan">Afghanistan</option>
                          <option value="Aland Islands">Aland Islands</option>
                          <option value="Albania">Albania</option>
                          <option value="Algeria">Algeria</option>
                          <option value="American Samoa">American Samoa</option>
                          <option value="Andorra">Andorra</option>
                        </select>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
              <div class="panel-footer">

              </div>
            </div>
          </div>
          <!-- MAP DIV-->
          <div class="col-lg-6">
            <div id="modal-map"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>


</html>
